@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900|Roboto');

.gamelist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 50px auto;
    width: 50%;
}

.gamelist button {
    background-color:rgb(30, 227, 0);
    border: none;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding:5px 40px;
    border-radius: 5px;
}

.gamelist h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.gamelist h3{
    font-size: 16px;
}

.gamelist img {
    height:200px;
    filter: none;
}

.gamelist span {
    color:blue;
}