@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900|Roboto');

:root {
    --header: 40px;
}

.header {
    width:100%;
    height:var(--header);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(247, 247, 247);
    padding:10px 20px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.logo {
    color:rgb(82, 82, 82);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
}

.logo span {
    color:rgb(227, 34, 0);
}

nav {
    height:var(--header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

nav a {
    height:var(--header);
    text-decoration: none;
    color:rgb(82, 82, 82);
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* letter-spacing: 1px; */
}

.membership {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.membership a {
    text-decoration: none;
    color:rgb(82, 82, 82);
    text-transform: uppercase;
    font-weight: 00;
    padding:10px;
    font-size:14px;
    /* letter-spacing: 1px; */
}

.signup {
    height:var(--header);
    background-color:rgb(227, 34, 0);
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}
